@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* global */

header {
  display: contents;
}

nav {
  --primary: #3b4c58;
  font-family: "Montserrat", sans-serif;
  background: var(--primary);
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  column-gap: 1rem;
  grid-template-rows: 90px auto;
  align-items: center;
  padding: 0 2rem;
}

body {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.hide {
  display: none;
}

.main-nav-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  grid-column: 2 / 3;
  grid-row: 1;
}

#apply-now {
  background: #a30721;
  border: 0 !important;
  border-radius: 40px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0;
  min-width: auto;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

#main-nav li {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary);
}

#main-nav {
  grid-column: 1 / 4;
  grid-row: 2;
  background: #ecedee;
  margin: 0 -2rem;
}

#main-nav.show li a {
  display: block;
  color: var(--primary);
  text-decoration: none;
  margin: 0 1.5rem;
  padding: 1rem 0;
  border-bottom: 1px solid #aebbc6;
}

#main-nav.show li button {
  width: calc(100% - 3rem);
  cursor: pointer;
  border: 0;
  text-align: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary);
  text-decoration: none;
  margin: 0 1.5rem;
  padding: 1rem 0;
  border-bottom: 1px solid #aebbc6;
  background: none;
  font: inherit;
}


#main-nav ul.menu-depth-2 li {
  font-weight: 500;
  text-transform: none;
  background-color: #fff;
}

#main-nav ul.menu-depth-3 a {
  padding-left: 1rem;
}

#main-nav ul.menu-depth-3 li {
  font-weight: 300;
  text-transform: none;
  font-style: italic;
}

/* Arrow icon styles */
.nav-link-arrow {
  margin-left: 0.5rem;
}

button[aria-expanded="true"] .fa-angle-right:before {
  content: "\f107"; /* fa-angle-down */
}




*/
/* desktop */

/*nav {
    display: flex;
    column-gap: 2rem;
    background: #06f;
    padding: 1rem;
  }

  nav > ul {
    display: flex;
    column-gap: 2rem;
  }

*/
